opencv-python>=4.2.0.34
sklearn>=0.0
numpy>=1.18.3
torch>=1.4.0
matplotlib>=3.2.1
scipy>=1.4.1
torchvision>=0.5.0
tqdm>=4.45.0
visdom>=0.1.8.9
nibabel>=3.1.0
scikit-image>=0.16.2
h5py>=2.10.0
pandas>=1.0.3
dominate>=2.5.1
torchsample==0.1.3
