opencv-python>=4.2.0.34
sklearn>=0.0
numpy>=1.18.3
torch==1.1.0
torchvision==0.3.0
matplotlib>=3.2.1
scipy>=1.4.1
tqdm>=4.45.0
visdom>=0.1.8.9
nibabel>=3.1.0
scikit-image>=0.16.2
h5py>=2.10.0
pandas>=1.0.3
dominate>=2.5.1
openpyxl
xlrd>=1.1.0
git+git://github.com/ozan-oktay/torchsample#egg=torchsample-0.1.3
git+git://github.com/MonsieurWave/torchio#egg=torchio
git+git://github.com/MonsieurWave/Geneva-Stroke-Preprocessing#egg=gsprep