appnope==0.1.0
backcall==0.1.0
certifi==2020.4.5.1
cycler==0.10.0
decorator==4.4.2
et-xmlfile==1.0.1
ipython==7.15.0
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
nibabel==3.1.0
numpy==1.18.4
openpyxl==3.0.3
packaging==20.4
pandas==1.0.3
pandas-schema==0.3.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
traitlets==4.3.3
Unidecode==1.1.1
wcwidth==0.2.2
xlrd==1.2.0
